.name div{
  display: inline;
  font-size: 24px;
}
.iam{
  animation: grow 750ms ease 1s backwards;
-webkit-animation: grow 750ms ease 1s backwards;
-ms-animation: grow 750ms ease 1s backwards;
-moz-animation: grow 750ms ease 1s backwards;
-o-animation: grow 750ms ease 1s backwards;
position: relative;
display: inline-block;
width: 160px;
height: 40px;
background-color: white;
color: rgb(123, 104, 238);
text-align: center;
text-transform: uppercase;
font-size: 20px;
font-family: 'Roboto Slab', serif;
line-height: 38px;
}
.grid img{
    height: 150px;
}
.intro-text .intro-lead-in{
    font-size: 24px;
}

.intro-text .intro-heading{
    font-size: 20px;
}
 .intro-text{
    padding-top:100px;
    padding-bottom: 40px;
}
.intro-text .intro-lead-in{
    /*height: 86px;
    display: table-cell;
    vertical-align: middle;*/
}
.intro-text .intro-lead-in span{
    display: block;
}
.iam > .corner-a, .iam > .corner-b ,.product-designer > .corner-a , .product-designer > .corner-b{
position: absolute;
top: 25px;
width: 68px;
height: 28px;
content: "";
}
.product-designer > .corner-a ,.product-designer > .corner-b {
position: absolute;
top: 34px;
width: 68px;
height: 28px;
content: "";
}
.iam > .corner-b , .product-designer > .corner-b {
animation: corner 300ms ease 1.5s backwards;
-webkit-animation: corner 300ms ease 1.5s backwards;
-ms-animation: corner 300ms ease 1.5s backwards;
-moz-animation: corner 300ms ease 1.5s backwards;
-o-animation: corner 300ms ease 1.5s backwards;
right: -50px;
transform : scale(-1,1);
background: transparent url(../img/corners/corner-a.svg) no-repeat;
}
.iam > .star-a::before, .iam > .star-b::before ,.product-designer > .star-b::before,.product-designer > .star-a::before{
content: "★";
}
.iam > .corner-a ,.product-designer > .corner-a{
animation: corner 300ms ease 1.3s backwards;
-webkit-animation: corner 300ms ease 1.3s backwards;
-ms-animation: corner 300ms ease 1.3s backwards;
-moz-animation: corner 300ms ease 1.3s backwards;
-o-animation: corner 300ms ease 1.3s backwards;
left: -49px;
background: transparent url(../img/corners/corner-a.svg) no-repeat;
}
.name {
position: relative;
display: inline-block;
width: 396px;
height: 97px;
  margin-top:40px;
  margin-bottom: -30px;

}
.working-as {
animation: working-as 600ms ease 2s backwards;
-webkit-animation: working-as 600ms ease 2s backwards;
-ms-animation: working-as 600ms ease 2s backwards;
-moz-animation: working-as 600ms ease 2s backwards;
-o-animation: working-as 600ms ease 2s backwards;
position: relative;
display: inline-block;
width: 134px;
height: 40px;
background: url(../assets/working-as.svg) no-repeat;
}
.product-designer {
animation: grow-b 600ms ease 2s backwards;
-webkit-animation: grow-b 600ms ease 2s backwards;
-ms-animation: grow-b 600ms ease 2s backwards;
-moz-animation: grow-b 600ms ease 2s backwards;
-o-animation: grow-b 600ms ease 2s backwards;
position: relative;
display: inline-block;
margin-top: 20px;
width: 340px;
height: 48px;
background-color: white;
color: rgb(123, 104, 238);
text-align: center;
text-transform: uppercase;
font-size: 24px;
font-family: 'Roboto Slab', serif;
line-height: 49px;
}

.intro-text {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  footer{
    background: #202020;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;  
    width:100%;
    z-index: 10;
    }
    footer a{
    color: white;
    text-decoration: none;
    
    }

#landing-hero .intro-text {
  padding-top: 10%;
  padding-bottom: 50px;
}
.intro-text .intro-lead-in ,.intro-text .intro-lead-in {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.21;
  text-align: center;
  color: #ffffff;
}
.intro-text .intro-heading  {
  opacity: 0.6;
  font-family: "Source Sans Pro"; /* ProximaNova;*/
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin-top: 8px;
  margin-bottom: 32px;
}
header .intro-text .intro-heading{
  margin-top:0;
}


@media(min-width:768px) {
  
    #landing-hero.intro-text {
        /* padding-top: 80px; */
        padding-top:10%;
        padding-bottom: 50px;
    }
  .intro-text {
      /* padding-top: 80px; */
      padding-top:80px;
      padding-bottom: 50px;
  }
  .intro-text .intro-lead-in {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.21;
      text-align: center;
      color: #ffffff;
  }
  .intro-text .intro-lead-in{
      font-size:36px;
  }
  .intro-text .intro-heading {
      opacity: 0.6;
      font-family: "Source Sans Pro"; /* ProximaNova; */
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      color: #ffffff;
  }
  }

   

@media (max-width : 334px ){
.intro-text .intro-lead-in{
      font-size: 20px;
  }
}
@media(max-width:370px) {
    #landing-hero .intro-text {
        /* padding-top: 80px; */
        padding-top:1%;
        padding-bottom: 50px;
    }
}    
.fresh-topic div:nth-child(3).ellipses{
    height: 70px;
}    
@media (min-width: 767px ) and (max-width: 1100px){
    .fresh-topic div:nth-child(3).ellipses{
        height: 100px;
    }
}    
@media (min-width: 767px ) and (max-width: 1100px){
    .fresh-topic div.title-ellipses{
        height: 60px;
    }
}  

#header-session {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM0MDlmZDIiLz48c3RvcCBvZmZzZXQ9IjEyMCUiIHN0b3AtY29sb3I9IiM1MGIwZTMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(50%, #409fd2), color-stop(120%, #50b0e3));
  background-image: -moz-linear-gradient(top left, #409fd2 50%, #50b0e3 120%);
  background-image: -webkit-linear-gradient(top left, #409fd2 50%, #50b0e3 120%);
  background-image: linear-gradient(to bottom right, #409fd2 50%, #50b0e3 120%);
}
