
<section id="landing-hero" class="bg-black height-10-v position-relative">
        <nav  class="position-absolute text-medium  position-top text-white width-100 z-index-7">
                <div class="justify-content-flex-end" style="display: flex;">
                    <div class="display-inline-block margin-three"><a class="text-white" href="/javascript">Javascript</a></div>
                    <div class="display-inline-block margin-three"><a class="text-white" href="/animation">Animation</a></div>
                    <div class="display-inline-block margin-three"><a class="text-white" href="/tutorials">Tutorials</a></div>
                    <div class="display-inline-block margin-three"><a class="text-white" href="/games/1to50/">Games</a></div>
                    <div class="display-inline-block margin-three"><a class="text-white" id="contactus" >Contact</a></div>
                    </div>
                </nav>
              
    <canvas id="canvas"></canvas>
   
       <div class="intro-text position-absolute position-top z-index-1 width-100">
           <div class="logo d-flex justify-content-center align-items-center">
               <svg aria-hidden="true" role="img" viewBox="0 0 44 130" style="margin-right:-5px;" height="100px" width="50px" class="letter letter-s letter-1" style="opacity: 1;"><path d="m 2 65 m 0 -20 a 20 20 0 1 1 0 40 a 20 20 0 1 1 0 -40" stroke-width="18" stroke-linecap="butt" stroke="#2F3DAB" fill="none" style="stroke-dashoffset: 251.363; stroke-dasharray: 125.681, 157.102, 31.4204;"></path><path d="m 42 65 m 0 -20 a 20 20 0 1 1 0 40 a 20 20 0 1 1 0 -40" stroke-width="18" stroke-linecap="butt" stroke="#2F3DAB" fill="none" style="stroke-dashoffset: 251.363; stroke-dasharray: 125.681, 93.2611, 33.4204, 92.2611, 125.681;"></path></svg>
               <svg aria-hidden="true" role="img" viewBox="0 0 52 110" style="margin-top:-2px" height="100px" width="36px" class="letter letter-b letter-2" style="opacity: 1;"><path d="m 26 55 m 0 -20 a 20 20 0 1 1 0 40 a 20 20 0 1 1 0 -40" stroke-width="8" stroke-linecap="butt" stroke="#f1f1f1" fill="none" style="stroke-dashoffset: 251.363; stroke-dasharray: 125.681, 94.2611, 94.2611, 31.4204, 125.681;"></path><path d="m 6 0 l 0 110" stroke-width="8" stroke-linecap="butt" stroke="#f1f1f1" fill="none" style="stroke-dashoffset: 220; stroke-dasharray: 110, 129, 60;"></path></svg>
           </div>
           <div class="d-flex justify-content-center align-items-center flex-column">
           <div class="text-white title-extra-large">Balaji Sankar </div>
           <div class="text-white mt-3 mb-3 title-medium"><span  id="typedpro"></span></div>            
           </div>
       </div>
         <img src="../img/cropbg.png" class="position-absolute position-bottom z-index-2 width-100" style="max-height:410px;">
         
   </section>
   