<!-- Modal -->
    {{ $root:= $.Scratch.Get "modal" }}
<div class="modal fade" id="flip-coin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header no-padding-bottom display-flex justify-content-center align-items-center flex-direction-column border-none">
        {{ partial "component/arrow.html" . }}
        
        <!--<button type="button" class="close " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body ">
        <div class="border-bottom margin-eight-top margin-eight-bottom display-flex justify-content-center align-items-center flex-direction-column">
        {{ $url:= printf "/img/modal/%s" $root.front }}
        <img src=" {{ $url |absURL}} " class="width-55">
        <div class="margin-twenty-top margin-nine-bottom text-white text-extra-large">{{ $root.info }}</div>
        {{ $url:= printf "/img/modal/%s" $root.flip }}
        <img src=" {{ $url |absURL}} " class="width-55">      
        </div>
        <div class="text-center">
        <a class="title-small font-weight-600" data-dismiss="modal" aria-label="Close" >{{ $root.buttontext }}</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
<style>
  .modal-content{
    background: #272727;
  }
  #flip-coin .intro-text{
    padding: 0;
  }
  #flip-coin .intro-lead-in{
    font-size: 20px;
    color: #4A4A4A;
  }
  #flip-coin input {
    font-size: 16px !important;
  }
  #flip-coin input ~ a {
    padding: 8.875px 16.641px;
    background: #6FCF97;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px !important;
}
#flip-coin .share-icon{
  margin-top:30px;
}
#flip-coin .share-icon ~ div{
  color: black !important;
  margin-top: 20px;
}
#flip-coin .share-icon .social-icon{
  margin-top: 10px;
}
.social-icon img{
      width: 54px;
}
.social-icon a{
  margin-right: 20px;
}
#flip-coin .description a{
  color:#4A90E2 !important;
}
</style>