<!-- Modal -->
<div class="modal fade" id="flip-coin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper grid">
  <div class="modal-dialog vertical-align-center" role="document">
    <div class="modal-content">
      <div class="modal-header no-padding-bottom display-flex justify-content-center align-items-center flex-direction-column border-none">
          <div class="container">
              <div class="center">
                {{ $url := printf "img/%s"  .Site.Data.rsvp.index.params.home.attendee.popup.img   }}
                  <img class="thumb" src = "{{ $url | absURL }}" >
                  <div class="circle-wrap">
                    <div class="circle-lg"></div>
                  </div>
                  <div class="dots-wrap">
                    <div class="dot dot--t"></div>
                    <div class="dot dot--tr"></div>
                    <div class="dot dot--br"></div>
                    <div class="dot dot--b"></div>
                    <div class="dot dot--bl"></div>
                    <div class="dot dot--tl"></div>
                  </div>
                </div>
          </div>
          
        <!--<button type="button" class="close float-right align-self " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body text-center">
        <div class="title-small">          {{ with .Site.Data.rsvp.index.params.home.attendee.popup.title }}{{ . }}{{ end }}</div>
        <div class="title-small margin-ten-bottom">          {{ with .Site.Data.rsvp.index.params.home.attendee.popup.footer }}{{ . }}{{ end }}</div>
        <a  class="btn-lg" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">ok</span>
        </a>
      </div>
      </div>
      
    </div>
    
<style>
  .modal-header{
    margin-top:10px;
  }
 .modal-body{
   margin-bottom: 20px;
 }
  .vertical-alignment-helper {
    display:table;
    height: 100%;
    /* width: 100%; */
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

  </style>
  </div>
  </div>
</div>


